*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imagen/fondo.jpg)
}
#cuadro{
    width: 330px;
    background: #006666;
    color: #ffffff;
    margin: auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #006666 ;
    border-right: 35px solid #006666;
    border-left: 35px solid #006666;
    border-radius: 6px;    
        
}
.entrada{
    width: 320px;
    height: 35px;
    border-radius: 6px;
    font-family: verdana;
    font-weight: 900;
}
#boton{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
}
#titulo{
    font-size: 30px;
    font-family: fantasy;
    padding-left: 90px;
}
#subtitulo1{
    padding-left: 80px;
}
#subtitulo2{
    padding-left: 80px;
}
#subtitulo3{
    padding-left: 107px;
}
#marca{
    font-size: 15px;
    padding-left: 280px;
    font-weight: 900;
}